<% include he.html %>
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">全部文章</a></li>
    <li role="presentation"><a href="/admin/index/add">添加文章</a></li>
    <li role="presentation"><a href="/Admin/Login/lgout">[<%=user.username%>]退出</a></li>
  </ul>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <a href="/admin/index/add" class="btn btn-primary btn-lg">添加文章</a>
    <a href="" class="btn btn-warning btn-lg">删除文章</a>
    <div class="panel-heading">我得博客</div>
    <table class="table table-hover">
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>分类</th>
        <th>浏览量</th>
        <th>添加时间</th>
        <th>操作</th>
      </tr>
      <%blogList.forEach(function(item){%>
      <tr>
        <td><label class="checkbox"><input type="checkbox" name="ids"><%=item.id%></label></td>
        <td><%=item.title%></td>
        <td><%=item.cate%></td>
        <td><%=item.views%></td>
        <td><%=formatDate(false,item.create_time)%></td>
        <td>[<a href="/admin/index/edit/id/<%=item.id%>">编辑</a>] [<a href="/admin/index/del/id/<%=item.id%>">删除</a>]</td>
      </tr>
      <%})%>
    </table>
    <!--<nav><ul class="pagination"><%-pagerData%></ul></nav>-->
  </div>
</div>
<% include fo.html %>

