<% include he.html %>
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/Admin">全部文章</a></li>
    <li role="presentation" class="active"><a href="#">添加文章</a></li>
    <li role="presentation"><a href="/Admin/Login/lgout">[<%=user.username%>]退出</a></li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">添加文章</div>
    </div>
    <div class="panel-body">
      <form role="form" method="post" action="/admin/index/edit" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-5">
            <input type="text" name="title" value="<%=info.title%>" class="form-control" placeholder="文章标题">
          </div>
          <div class="col-md-7">
            <select id="categroy" name="category" class="form-control">
              <%cateList.forEach(function(item){%>
              <option value="<%=item.id%>"><%=item.cate%></option>
              <%})%>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>文章简介</label>
          <input type="text" value="<%=info.description%>" name="description" class="form-control" placeholder="文章简介">
        </div>
        <div class="form-group">
          <label>封面图片</label>
          <input type="file" name="cover" value="<%=info.cover%>">
          <p class="help-block">请上传一个博客的图片.</p>
        </div>
        <input type="hidden" name="id" value="<%=http.get['id']%>">
        <div class="form-group">
          <label>博客内容</label>
          <textarea class="form-control" name="content" rows="10"><%=info.content%></textarea>
        </div>
        <button type="submit" class="btn btn-info btn-block"> 修 改 博 客 </button>
        <!-- <button type="button" id="addBlog" class="btn btn-info btn-block"> 发 布 博 客 </button> -->
      </form>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#addBlog').on('click',function(){
      $.post('/admin/index/edit',$('form').serialize()).success(function(data){
        console.log(data)
      });
    });
  })
</script>
<% include fo.html %>